.main-contents
  .main-contents__header
    .main-contents__header--group-name 
      test

      .main-contents__header--group-name--edit 
        = link_to "Edit", "#  ", class: "right"

    .main-contents__header--member 
      member: masa

  .messages
  = render @messages

  .main-contents__messages
    .main-contents__messages__info
      .main-contents__messages__info--message-name
        masa
      .main-contents__messages__info--message-time
        2020/2/11(Thr) 12:00:00
    .main-contents__messages--message
      おはよう

  .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'